.basic-flex {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.outer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: url('../Assets/Landscape/RandomLandscape1.jpg');
  background-size: cover;
}
.inner {
  width: 1200px;
  height: 700px;
}

.box1, .box2, .box3 {
  width: 300px;
  height: 500px;
  transition: height 0.2s;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.26);
}

.box1:hover, .box2:hover, .box3:hover {
  height: 650px;
  transition: height 0.2s;
}

.thumbnail {
  width: 300px;
  height:650px;
  object-fit: cover;
}