.login-page-outer {

  --width: 600px;
  --image-height: calc(var(--width) / 4);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: relative;

  .login-page-inner {
    background: linear-gradient(90deg, rgba(0,159,253,1) 0%, rgb(48, 48, 151) 100%);
    height: calc(var(--width) / 2);
    max-width: var(--width);
    position: relative;
    border-radius: 10px;
    margin: 0 20px 0 20px;
    width: calc(100vw - 40px);
  }

  .title {
    font-size: 50px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 150px;
    color: white;

    @media screen and (max-width: 600px) {
      margin-bottom: calc(150px - ((600px - 100vw) / 4));
    }
  }

  .icon {
    width: var(--image-height);
    height: var(--image-height);
    border-radius: var(--width);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px 1px #000000;

    

    @media screen and (max-width: 600px) {
      width: calc(150px - ((600px - 100vw) / 4));
      height: calc(150px - ((600px - 100vw) / 4));
    }
  }

  .pass-container {
    position: relative;

    .eyeball {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 20px;
      width: 25px;
      height: 25px;
      cursor: pointer;
      font-size: 20px;

      &::before {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: rgb(19, 19, 19);
      }
    }
  }

  .username, .password {
    --padding-sides: 10px;
    --margin-sides: 20px;

    width: calc(100% - var(--padding-sides) - var(--padding-sides) - 40px);
    padding: 10px 10px 20px 10px;
    margin: 0 var(--margin-sides) 0 var(--margin-sides);
    background-color: transparent;
    border: none;
    font-size: 20px;
    outline: none;
    caret-color: white;
    color: rgba(0, 0, 0, 0.7);
    font-weight: bold;

    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    transition: color 0.2s ease-in-out;

    &::placeholder {
      color: rgba(255, 255, 255, 0.664);
    }
  }

  .username {
    border-bottom: 2px solid white;
    margin-top: calc((var(--image-height) / 2) + var(--margin-sides) + 20px);
  }

  .password {
    margin-top: 10px;
  }

  .incorrect {
    color: rgba(255, 0, 0, 0.74);
    animation:  shake 0.2s;

    @keyframes shake{
      0%{
        transform: translateX(0)
      }
      25%{
        transform: translateX(5px);
      }
        
      50%{
        transform: translateX(-5px);
      }
      100%{
        transform: translateX(0px);
      }
    }
  }

  .forgot-password-container {
    width: 100%;
    display: flex;
    justify-content: center;
    .forgot-password-button {
      background-color: transparent;
      border: none;
      font-size: 17px;
      margin-top: 10px;
      font-family: 'Roboto', sans-serif;
      font-weight: bold;
      color: white;
  
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .login-button {
    background-color: var(--menu-text);
    border: none;
    width: calc(100vw - 40px);
    max-width: var(--width);

    height: calc(var(--width) / 8);
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    
    transition: background-color 0.5s;

    margin: 25px 20px 100px 20px;

    &:hover {
      background-color: #a10194;
      cursor: pointer;
    }
  }
    
}