@use './colours.scss';

#root, body {
  height: 100vh;
  background-color: var(--background);
}

.blog_container {
  
  min-height: 100vh;
  min-width: 100%;
  background-color: var(--background);
  padding-inline: 20px;

  .magic-link {
    --purple: #8e2de2;
    --violet: #4a00e0;
    --pink: #ff00cc;
    
    background: linear-gradient(
      to right,
      var(--purple),
      var(--violet),
      var(--pink),
      var(--purple)
    );

    text-decoration: underline;

    background-clip: text;
    -webkit-background-clip: text;
    color: rgba(255, 255, 255, 0);
    text-decoration-color: var(--pink);
    text-decoration-thickness: 2px;

    background-size: 200%;

    animation: gradient 3s linear infinite;
  }

  @keyframes gradient {
    from {
      background-position: 0% center;
    }

    to {
      background-position: -200% center;
    }
  }

  a {
    color: var(--inline-link);
    font-weight: 800;
    font-variant: normal;
  }

  .summary, .date {
    font-size: 17px;
    margin-top: 10px;
    color: var(--standard-text-darker);
    line-height: 23pt;
  }

  #outer {
    background-size: cover;
    box-sizing: border-box;
  }
  
  #background {
    background-color: var(--background);
    max-width: 800px;
    padding: 15px;
    box-sizing: border-box;
    
    margin-left: auto;
    margin-right: auto;
  }
}
