@use './colours.scss';

#root, body {
  height: 100vh;
  height: -webkit-fill-available;

  background-color: var(--background);
}

.blog_container {
  
  min-height: 100vh;
  min-width: 100%;
  background-color: var(--background);

  a {
    color: var(--inline-link);
  }

  p {
    font-size: 17px;
    margin-top: 10px;
    color: var(--standard-text);
    line-height: 23pt;
  }

  #outer {
    background-size: cover;
    box-sizing: border-box;
  }
  
  #background {
    background-color: var(--background);
    max-width: 800px;
    padding: 15px;
    box-sizing: border-box;
    
    margin-left: auto;
    margin-right: auto;
  }
}
