:root {
  --article-name: #e00882;
  --inline-link: #00ffeed0;
  --inline-link-hover: #1f54ff;
  --background: #191731;
  // --background: #240d3b;
  //--standard-text: #bebebe;
  --standard-text: #f1f1f1;
  --header-text: #f5f7fa;
  --standard-text-darker: #e5e5ed;
  --menu-text: #e008ce;
}