.home_outer {
    .background {
        background-image: url('../../assets/images/home/RandomLandscape1.jpg');
        background-size: cover;
        min-height: 100vh;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .InitDiv {
        height: 100vh;
        width: 100vw;
        background: black;
        cursor: pointer;
    }
    
    .InitOuterCenter {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .InitH1, .InitP {
        position: relative;
        color: white;
        text-align: center;
        user-select: none;
    }
    
    @keyframes fadeInOut {
        0% {
            opacity:0.9;
        }
        100% {
            opacity:0;
        }
    }
    
    .InitP {
        animation: fadeInOut ease-in-out 1.5s infinite;
        animation-direction: alternate;
    }
    
    .background > div {
        padding: 0;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        justify-content: center;
        display: flex;
        min-height: 700px;
        margin: 0 50px;
    }
    
    .active {
        all: unset;
        margin: 0;
        padding: 0;
        min-width: 300px;
        height: 500px;
        transition: height .2s, opacity .2s;
        overflow: hidden;
        border: 2px solid hsla(0,0%,100%,.26);
        position: relative;
        outline: none;
        display: flex;
        justify-content: center;
        align-items: center;

        opacity: 90%;

        @media (width >= 1112px) {
            &:hover {
                height: 650px;
                cursor: pointer;
                opacity: 100%;

                & img {
                    transform: scale(1.1);
                }

                & h1 {
                    font-size: 40px;
                }
            }
        }

        img {
            transition: transform .2s;
            position:relative;
            object-fit: cover;
            pointer-events: none;
            width: 300px;
            height: 650px;
        }
    }   

    .title {
        position: absolute;
        bottom: 20px;
        text-align: center;
        margin: auto;
        width: 100%;
        transition: font-size 0.2s;

        &.first {
            color: rgb(33, 80, 235);
            -webkit-text-stroke: 1px black;
        }

        &.second {
            color: #39f7ff;
        }

        &.third {
            color: #f600fd;
        }

        &.fourth {
            color: #00fd49;
        }
    }

    @media (width < 1112px) {
        .active {
            height: 200px;
        }

        .active h1 {
            box-sizing: border-box;
            bottom: 0;
            height: 60px;
            padding-top: 10px;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.884) 70%, rgba(255, 255, 255, 0) 100%);
        }

        .background > div {
            flex-direction: column;
        }
    }
}

.overlay {
    width: 100vw;
    height: 100vh;
    opacity: 0;
    background: #191731;
    
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.4s ease-in-out;

    z-index: 10;

    &.active {
        opacity: 100%;
    }
}

