
$primary-light: #007bff;
$primary-dark: #a831d6;

$secondary-light: #6c757d;
$secondary-dark: #e0e0e0;

$background-header-dark: #730465;
$background-header-light: #f5f5f5;

$background-primary-dark: #191731;
$background-primary-light: #f5f5f5;

.color {
  &--primary {
    &-light {
      color: $primary-light;
    }

    &-dark {
      color: $primary-dark;
    }
  }

  &--secondary {
    &-light {
      color: $secondary-light;
    }

    &-dark {
      color: $secondary-dark;
    }
  }

  &--link {
    &-light {
      color: $primary-light;
    }

    &-dark {
      color: $primary-dark;
    }
  }

  &--black {
    color: #000000;
  }

  &--white {
    color: #ffffff;
  }
}

.background {
  &--primary {
    &-dark {
      background-color: $background-primary-dark;
    }

    &-light {
      /**
       * TODO
       */
      background-color: $background-primary-light;
    }
  }

  &--header {
    &-dark {
      background-color: $background-header-dark;
    }

    &--light {
      /**
       * TODO
       */
      background-color: #f5f5f5;
    }
  }
}