
.color {
  &--primary {
    &-light {
      color: #007bff;
    }

    &-dark {
      color: #a831d6;
    }
  }

  &--secondary {
    &-light {
      color: #6c757d;
    }

    &-dark {
      color: #e0e0e0;
    }
  }

  &--link {
    &-light {
      color: #007bff;
    }

    &-dark {
      color: #a831d6;
    }
  }

  &--black {
    color: #000000;
  }

  &--white {
    color: #ffffff;
  }
}

$primary-light: #007bff;
$primary-dark: #a831d6;

$secondary-light: #6c757d;
$secondary-dark: #e0e0e0;