@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#Home {
  position: absolute;
  font-size: 3em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
  top: 0.5vw;
  left: 0.5vw;
}

#Home::before {
  content: "Home";
  position: absolute;
  color: #fff;
  width: 0;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
  color: var(--clr);
}

#Home:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 15px var(--clr));
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #252839;
  flex-direction: column;
  gap: 30px;
}

ul li {
  position: relative;
  list-style: none;
}

ul li a {
  position: relative;
  font-size: 4em;
  text-decoration: none;
  line-height: 1em;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px rgba(255,255,255,0.5);
}

ul li a::before {
  content: attr(data-text);
  position: absolute;
  color: #fff;
  width: 0;
  height: 70%;
  overflow: hidden;
  transition: 1s;
  border-right: 8px solid var(--clr);
  -webkit-text-stroke: 1px var(--clr);
  color: var(--clr);
}

ul li a:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 15px var(--clr));
}

ul li a:hover + sub {
  color: rgb(0, 255, 0);
}

ul li sub {
  position: absolute;
  transform: translate(-60% , 135%);
  font-size: 1.2em;
  z-index: 2;
  color: rgba(0, 255, 234, 0.5);
  pointer-events: none;
  transition: 1s;
}

p {
  position: absolute;
  bottom: 1px;
  left: 5px;
  color:#35395180;
}
