@use '../../colours.scss';

.FlipToggle {
  width: 85px;
  height: 2em;

  &__input {
    display: none;
  }

  &__label {
    outline: 0;
		display: block;
		height: 100%;
		position: relative;
		cursor: pointer;
    user-select: none;

		&:after,
    &:before {
			position: relative;
			display: block;
			height: 100%;
      display: inline-block;
      transition: all .4s ease;
      width: 100%;
      text-align: center;
      position: absolute;
      line-height: 2em;
      font-weight: bold;
      color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      backface-visibility: hidden;
      border-radius: 4px;
		}

    &:after {
      content: attr(data-tg-on);
      background: var(--article-name);
      transform: rotateY(-180deg);
		}
    
		&:before {
      background: var(--inline-link);
      content: attr(data-tg-off);
      transform: rotateY(0deg); 
		}

    &--checked {
      &:after {
        transform: rotateY(0deg);   
      }

      &.FlipToggle__label:before {
        transform: rotateY(180deg);
      }
    }

    &.FlipToggle__label--mousedown.FlipToggle__label--checked:after {
      transform: rotateY(-20deg);   
    }

    &.FlipToggle__label--mousedown.FlipToggle__label--checked:before {
      transform: rotateY(200deg);   
    }

    &:not(FlipToggle__label--checked).FlipToggle__label--mousedown:before {
      transform: rotateY(20deg);   
    }

    &:not(FlipToggle__label--checked).FlipToggle__label--mousedown:after {
      transform: rotateY(-200deg);   
    }
  }
}
