
@media only screen and (min-width: 481px){
  .inner {
    width: 1200px;
    height: 700px;
  }
  .thumbnailContainer {
    width: 300px;
    height: 500px;
  }
  .thumbnailContainer:hover {
    height: 650px;
    transition: height 0.2s;
  }
  .thumbnailContainer:hover > h1 {
    transition: font-size 0.2s;
    font-size: 40px;
  }

  h1 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    transition: font-size 0.2s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .thumbnailContainer {
    margin-left: 25px;
    margin-right: 25px;
    transition: height 0.2s;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.26);
    position: relative;
    outline: none;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
  }
  
  .desktop-basic-flex {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
  }
  
  .outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    background: url('../../../assets/Landscape/RandomLandscape1.jpg');
    background-size: cover;
    overflow: hidden;
  }
  
  .thumbnail {
    object-fit: cover;
    pointer-events: none;
    width: 300px;
    height:650px;
  }
  
  #thumbnail_container_1, #thumbnail_container_2 {
    filter: grayscale(80%);
  }

  #listContainer {
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
    margin-top: 0;
    margin-bottom: 0;
    height: 650px;
  }

  #bulletContainer {
    visibility: hidden;
    overflow: hidden;
  }
}

ul {
  padding-left: 0;
  width: 80%;
  margin-top: 0;
  margin-bottom: 0;
}

ol {
  list-style: none;
}

@media (min-width: 320px) and (max-width: 480px) { 
  .outer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%; 
    width: 100%;
    overflow-y: hidden;
    background: url('../../../assets/Landscape/RandomLandscape1.jpg');
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
  }
  
  .inner {
    width: 100%;
    height: 80%;
    overflow: hidden;
    display: flex;
    align-items: center; 
    justify-content: space-evenly;
  }

  .thumbnailContainer {
    position: fixed;
    transition: all 0.5s;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
    overflow: hidden;
  }

  .left {
    z-index: 0;
    top: 15%;
    left: 0;
    height: 70%;
    width: 60%;
  }

  .right {
    z-index: 0;
    top: 15%;
    left: 45%;
    height: 70%;
    width: 60%;
  }

  .top-right {
    z-index: 1;
  }

  .middle {
    z-index: 2;
    height: 85%;
    top: 7.5%;
    left: 15%;
    width: 70%;
  }

  #listContainer {
    height:100%;
    width: 95%;
    position: relative;
  }

  h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    margin: 0 0 0 0;
    color: white;
    transition: font-size 0.2s;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }
  
  .thumbnail {
    position:absolute;
    object-fit: cover;
    pointer-events: none;
    width: 100%;
    height:100%;
  }

  #bulletContainer {
    visibility: visible;
    position: fixed;
    width: 30vw;
    height: 4vh;
    left: 50vw;
    transform: translateX(-50%);
    bottom: 0vh;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .bullet {
    transition: all 0.5s;
    background-color: white;
    width: 20%;
    height: 0;
    padding-bottom: 20%;
    border-radius: 50%;
    opacity: 50%;
  }

  .highlighted {
    opacity: 80%;
  }
}



/*

right - 5-10% on left side of screen
middle - middle of screen (10-15% from each side of screen) and zoomed a little
left - 5-10% on the right side of screen
*/