<div class="outer basic-flex">
  <div class="inner basic-flex">
    <div class="thumbnailContainer box1 basic-flex">
      <h1>Server - ToDo</h1>
      <img class="thumbnail thumb1" src="assets/WeatheringWithYouVertical.jpg">
    </div>
    <div class="thumbnailContainer box2 basic-flex">
      <h1>ToDo</h1>
      <img class="thumbnail thumb2" src="assets/YourName.jpg">
    </div>
    <div class="thumbnailContainer box3 basic-flex" [routerLink]="'/Gravylang'">
      <h1>Gravylang</h1>
      <img class="thumbnail thumb3" src="assets/SpiceAndWolf.jpg">
    </div>
  </div>
</div>