.home_outer {
    .background {
        background-image: url('../../assets/images/home/RandomLandscape1.jpg');
        background-size: cover;
        min-height: 100vh;
        width: 100%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    
    }
    
    .InitDiv {
        height: 100vh;
        width: 100vw;
        background: black;
        cursor: pointer;
    }
    
    .InitOuterCenter {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
    
    .InitH1, .InitP {
        position: relative;
        color: white;
        text-align: center;
        user-select: none;
    }
    
    @keyframes fadeInOut {
        0% {
            opacity:0.9;
        }
        100% {
            opacity:0;
        }
    }
    
    .InitP {
        animation: fadeInOut ease-in-out 1.5s infinite;
        animation-direction: alternate;
    }
    
    .background > div {
        padding: 0;
        align-items: center;
        flex-wrap: wrap;
        gap: 50px;
        height: min-content;
        justify-content: center;
        display: flex;
    }
    
    .active {
        min-width: 300px;
        height: 500px;
        transition: height .2s;
        overflow: hidden;
        border: 2px solid hsla(0,0%,100%,.26);
        position: relative;
        outline: none;

        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    @media (width > 658px) {
        .active:hover {
            height: 650px;
            cursor: pointer;
        }

        .active:hover > h1 {
            font-size: 40px;
        }
    }    
    
    img {
        position:relative;
        object-fit: cover;
        pointer-events: none;
        width: 300px;
        height: 650px;
    }

    .title {
        position: absolute;
        bottom: 20px;
        text-align: center;
        margin: auto;
        width: 100%;
        color: white;
        -webkit-text-stroke: 1px black;
        transition: font-size 0.2s;
    }

    @media (width < 658px) {
        .active {
            height: 200px;
        }
    }

    // .ipod_outer {
    //     height: 330px;
    
    //     .ipod {
    //         display: flex;
    //         justify-content: center;
    //         height: 100%;
    //         width: 300px;
    //         background: rgb(61,0,48);
    //         background: linear-gradient(90deg, rgba(61,0,48,1) 0%, rgb(219, 0, 175) 6%, rgb(219, 0, 175) 94%, rgba(144,0,124,1) 100%);
    //         border-radius: 0 0 0 5px;

    //         .Screen {
    //             background: grey;
    //             width: 270px;
    //             height: 300px; 
    //             margin-top: 15px;
    //             position: relative;
    //             background-size: contain;

    //             .title {
    //                 position: absolute;
    //                 bottom: 0;
    //                 background: black;
    //             }
    //         }
    //     }
    // }
}




