//About Me section
.AboutComponent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 40px 10px 0 10px;

  box-shadow: #18001e 0px 7px 20px 0px;
  border-radius: 30px;
  padding: 20px 35px;
  background-color: #24264f;

  .circle {
    overflow: hidden;
    width: 110px;
    height: 110px;
    border-radius: 110px;
    flex-shrink: 0;
    box-shadow: 0px 0px 10px 1px #000000c5;

    img {
      width: 110px;
      height: 110px;
      display: block;
    }
  }

  .about {
    margin-left: 20px;
    color: var(--standard-text);
  }

  @media (max-width: 576px) {
    flex-direction: column;
    padding-inline: 10px;

    p {
      margin-left: 0;
    }

    .about {
      margin-right: 20px;
    }
  }
}