h1, p {
    margin: 0;
    color: black;
}

.InitDiv {
    height: 100vh;
    width: 100vw;
    background: black;
    cursor: pointer;
}

.InitOuterCenter {
    position: absolute;
    left: 50%;
    top: 50%;
    width: auto;
    transform: translate(-50%, -50%);
}

.InitH1, .InitP {
    color: white;
    text-align: center;
    user-select: none;
}

@keyframes fadeInOut {
    0% {
        opacity:0.9;
    }
    100% {
        opacity:0;
    }
}

.InitP {
    animation: fadeInOut ease-in-out 1.5s infinite;
    animation-direction: alternate;
}

ol {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    align-items: center;
}

li {
    margin-left: 25px;
    margin-right: 25px;
    min-width: 300px;
    height: 500px;
    transition: height .2s;
    overflow: hidden;
    border: 2px solid hsla(0,0%,100%,.26);
    position: relative;
    outline: none;
}

li:hover {
    height: 650px;
}

.img {
    position:relative;
    object-fit: cover;
    pointer-events: none;
    width: 300px;
    height: 650px;
    top: 50%;
    transform: translateY(-50%);
}

.background {
    background-image: url('../../assets/Landscape/RandomLandscape1.jpg');
    background-size: cover;
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: absolute; 
}

.title {
    position: absolute;
    bottom: 20px;
    text-align: center;
    margin: auto;
    width: 100%;
    color: white;
    --webkit-text-stroke-width: 1px;
    --webkit-text-stroke-color: black;
    transition: font-size 0.2s;
}


