.BlogArticle {
  &Meta {
    &__date, &__readTime, &__separator, &__tag {
      font-size: 0.9rem;
      line-height : 1.75;
      color: var(--standard-text);
      margin-right: 10px;
      font-weight: 500;
    }

    &__dateWrapper {
      margin-bottom: 20px;

      @media (max-width: 576px) {
        display: flex;
        justify-content: center;
      }
    }

    &__tags {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 10px;
      margin-block: 20px;

      @media (max-width: 576px) {
        justify-content: center;
      }
    }

    &__tag {
      word-break: keep-all;
      white-space: nowrap;
      margin-bottom: 20px;

      box-shadow: 7px 7px 9px 1px rgb(215 55 255 / 62%);
      border: 1px solid #7f37a37a;
    }

    span, a {
      padding: 4px;
    }
  }
}

.blog-article.fieldset {
  border-radius: 5px;
  border-width: 2px;
  border-style: solid;
  margin: 20px 0 20px 0;
  padding: 0 10px 10px 20px;

  .legend {
    padding-left: 6px;
    padding-right: 6px;
  }

  .body {
    color: var(--standard-text);
  }
}

.blog-article.content.paragraph {
  font-size: 1rem;
  line-height : 1.75;
  color: var(--standard-text-darker);
  // margin-right: 20px;
  // margin-left: 20px;
  font-weight: 400;

  a {
    transition: color 0.15s ease-in-out;

    &:hover {
      color: var(--inline-link-hover);
    }
  }

  h3 {
    color: var(--header-text);
  }
}

.blog-article .AboutComponent {
  margin-top: 80px;
}

.footer {
  &.copyright {
    font-size: 0.8rem;
    line-height : 1.75;
    color: var(--standard-text);
    margin-right: 10px;
    margin-left: 10px;
    font-weight: 500;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  &.socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .social {
      margin: 0 10px 0 10px;
    
      &:hover {
        fill: var(--inline-link-hover);
      }
    }
  }
}