.blog-article content {
  margin: 0 auto;
  max-width: 800px;
  width: 100%;
}

.blog-article__meta {

}

.blog-article.content.paragraph {
  font-size: 1rem;
  line-height : 1.75;
  color: var(--standard-text);
  margin-right: 10px;
  margin-left: 10px;
  font-weight: 500;

  a {
    transition: color 0.15s ease-in-out;

    &:hover {
      color: var(--inline-link-hover);
    }
  }
}