.Shine {
  position: relative;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(167, 108, 255, 0.13) 0%,
      rgba(167, 108, 255, 0.13) 77%,
      rgba(231, 200, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }

  &::after {
    transition-property: left, top, opacity;
    transition-duration: 0.7s, 0.7s, 0.15s;
    transition-timing-function: ease;
  }

  &:hover::after {
    opacity: 1;
    top: -30%;
    left: -30%;
  }

  &--allow-overflow {
    overflow: visible;
  }

  &--full-height {
    height: 100%;
  }
  
}