
.contextMenu {
    pointer-events: all;
    position: absolute;
    left: 160px;
    top: -2px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    visibility: hidden;

    &--show {
        opacity: 1;
        visibility: visible;
    }
    
    &__item {
        pointer-events: all;
        all: unset;
        position: absolute;
        left: 100px;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
        background: #fff;
        padding: 10px;
        padding-right: 20px;
        z-index: 5;
        padding-block: 4px;
        min-width: 200px;
    }
    
    &__background {
        pointer-events: all;
        width: 324px;
        margin-left: -202px;
        margin-top: -40px;
    }

    &__option3 {
        width: 80px;
        position: absolute;
        left: 30px;
        top: 53px;
        cursor: pointer;
        height: 35px;

        &Hover {
            transition: opacity 0.3s ease-in-out;
            width: 100px;
            position: absolute;
            left: 18px;
            top: 53px;
            opacity: 0;
            height: 42px;

            &--show {
                opacity: 1;
            }
        }
    }
}