.background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%; 
  width: 100%;
  background-size: cover;
  overflow: hidden;
  background-image: url("../../../assets/Landscape/RandomLandscape1.jpg");
}
.editorContainer {
  border: 2px solid rgba(60, 6, 255, 0.918);
  position: relative;
  height: 100vh;
  overflow: hidden;
}
.editor {
  width: 60vw;
  height: 102vh;
  padding: 0;
  margin: 0;
  opacity: 80%;
}
.basic-flex {
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
}

.viewContainer {
  display: flex;
  flex-wrap: center;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 100vh;
  border: 2px solid rgba(212, 11, 11, 0.918);
}

.thumbnailContainer {
  transition: height 0.2s;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, 0.26);
  position: relative;
  outline: none;
  height: 300px;
  margin: 1px;
}

.thumbnailContainer:hover {
  transition: all 0.2s;
  outline: none;
  height: 400px;
  border: 3px solid rgb(0, 0, 0);
  margin: 0;
}

.thumbnailContainer:hover > h1 {
  transition: font-size 0.2s;
  font-size: 40px;
}

.thumbnail {
  width: 200px;
  height:400px;
  object-fit: cover;
  pointer-events: none;
}

h1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  transition: font-size 0.2s;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

