* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


div::-webkit-scrollbar {
    display: none;
}
  
div {
-ms-overflow-style: none;
scrollbar-width: none;
}


#page {
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

#page > section {
    width: 100vw;
    height: 100vh;
    position: fixed;
    transition: all 0.5s cubic-bezier(0.1, 1, 0.5, 1);;
}

#page > .below {
    top: 100vh;
}
#page > .above {
    top: -100vh;
}

.focused {
    top: 0;
}

#introduction {
    background-color: lightblue;
    z-index: 1;
}

#tree {
    background-color: #101010;
}

button {
    width: 100px;
    height: 20px;
    background-color: red;
    position: absolute;
}

p {
    margin: 0 0 0 0;
    text-align: center;
    font-size: xx-large;
}

.container {
    max-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(32, 32, 32);
    overflow-y: scroll;
}

.timeline {
    width: 80%;
    max-width: 800px;
    position: relative;
    overflow-x: visible;
    padding-top: 60px;
}

@media only screen and (min-width: 768px) {
    .timeline::before {
        content: '';
        position: absolute;
        height: 100%;
        width: 2px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(160, 160, 160);
        margin-top: -60px
    }
}