.tags {
  position: relative;
  min-width: 100px;
  min-height: 30px;
  margin-bottom: 10px;

  .tag {
    position: absolute;
    font-size: 14px;
    max-width: 150px;
    min-height: 25px;
    background-color: #ce3175;
    color: white;
    top: 0;
    right: 0;
    border-radius: 5px;
    text-align: center;
    line-height: 1.7;
    font-family: 'Inter', sans-serif;
    padding: 8px 8px 8px 8px;
    white-space: nowrap;
    overflow: hidden;

    &.draft {
      background-color: rgba(255, 255, 255, 0.151);
      color: rgb(0, 204, 255);
      border: dashed 2px rgb(0, 204, 255);
      overflow: visible;
      outline: none;

      transition: font-weight 0.1s ease-in-out;

      &:focus {
        border: 2px solid rgb(0, 64, 80);
      }

      &:hover, &:focus {
        background-color: rgb(162, 236, 255);
        color: black;
        font-weight: bold;
      }
    }
  }

  @media (max-width: 576px) {
    .tags:last-child {
      z-index: 2;
    }
  }

  @media screen and (max-width: 380px) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;  
    justify-content: center;

    .tag {
      position: relative;
      top: 0;
      right: 0;
      margin: 5px 5px 5px 5px;
    }
  }
}