$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 1.5rem;
$padding-lg: 2rem;
$padding-xl: 2.5rem;
$padding-xxl: 3rem;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 2.5rem;

$default-font-weight: 400;
$font-family: "Figtree", "Nunito-sans", 'Roboto', sans-serif;

:root {
    --default-spacing: 5px;

    --color-primary: #a67ee6;
    --color-secondary: #dadffd;
    --color-tertiary: #8172bf;

    --color-link: #00ffeed0;
    --color-link-hover: #3161fe;

    --border-color-primary: #a67ee6;
    
    --background-color-primary: #191731;
    --background-color-secondary: #272256;
    --background-color-vibrant: #8e319c;

    --button-background-color-primary: #302a68;
    --button-background-color-primary-hovered: #4a3eb8;

}

* {
    box-sizing: border-box;
}

img {
    height: 100%;
}
