$padding-xs: 0.5rem;
$padding-sm: 1rem;
$padding-md: 1.5rem;
$padding-lg: 2rem;
$padding-xl: 2.5rem;
$padding-xxl: 3rem;

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;
$font-size-xxxl: 2.5rem;

$default-font-weight: 400;
$font-family: 'Roboto', sans-serif;
